//Working Section
.worke-items {
	padding: 20px 40px;
	border-radius: 20px;
	z-index: 1;
	.step-area {
		z-index: 1;
		position: relative;
		.texts {
			border-left: 1px solid #e3e3e3;
			padding-left: 10px;
		}
		.serial {
			font-family: Archivo;
			font-size: 51.797px;
			font-style: normal;
			font-weight: 500;
			line-height: 54px;
			letter-spacing: -3px;
			color: rgb(83, 83, 83, 0.2);
			-webkit-text-fill-color: white;
			-webkit-text-stroke-width: 1px;
			-webkit-text-stroke-color: rgb(83, 83, 83, 0.2);
			margin-left: -15px;
			z-index: -1;
		}
	}
	.rarrow {
		width: 125px;
		box-shadow: 0px 10px 60px 0px rgba(0, 0, 0, 0.07);
		margin-bottom: -40px;
	}
	&:hover {
		.rarrow {
			background: $p2-clr;
			svg {
				path {
					stroke: $white;
					fill: $white;
				}
			}
		}
	}
	margin-bottom: 40px;
	@include breakpoint(max-xl) {
		padding: 18px 20px;
	}
}
.about-exchange-content {
	p {
		font-size: 20px;
		line-height: 28px;
	}
	.listing-exchange {
		display: flex;
		flex-wrap: wrap;
		li {
			width: calc(100% / 2);
			padding: 7px 14px;
		}
	}
	@include breakpoint(max-lg) {
		h2{
			font-size: 29px;
		}
		p {
			font-size: 16px;
			line-height: 22px;
		}
		.listing-exchange {
			display: flex;
			flex-wrap: wrap;
			li {
				width: calc(100%);
				padding: 2px 5px;
			}
		}
	}
}
//Working Section
