//Faq Section
.custom-accordion {
	display: grid;
	gap: 30px;
	.accordion-item {
		border: unset;
		.accordion-header {
			line-height: 30px;
			.accordion-button {
				font-size: 17px;
				font-weight: 600;
				font-family: $body-font;
				padding: 0 0;
				outline: none;
			}
			.accordion-button {
				&::after {
					content: "";
					background-image: none;
					width: 16px;
					height: 2px;
					background: $black;
				}
				&::before {
					position: absolute;
					right: 7px;
					top: 50%;
					transform: translateY(-50%);
					width: 2px;
					height: 16px;
					content: "";
					background: $black;
				}
			}
			.accordion-button:not(.collapsed) {
				color: $black;
				box-shadow: none;
				outline: none;
				border-left: 5px solid $p2-clr;
				&::before {
					display: none;
				}
			}
			.accordion-button:focus {
				z-index: 3;
				outline: 0;
				box-shadow: none;
			}
		}
		.accordion-body {
			padding: 0 0;
		}
	}
	.line {
		width: 100%;
		height: 1px;
		background: rgb(0, 0, 0, 0.1);
	}
	@include breakpoint(max-xl) {
		gap: 20px;
		.accordion-item {
			border: unset;
			.accordion-header {
				line-height: 24px;
				.accordion-button {
					font-size: 18px;
				}
				.accordion-button::after {
					content: "";
					background-image: none !important;
					background-repeat: no-repeat;
				}
				.accordion-button:not(.collapsed) {
					color: $black;
					box-shadow: none;
					outline: none;
				}
				.accordion-button:focus {
					z-index: 3;
					outline: 0;
					box-shadow: none;
				}
			}
			.accordion-body {
				padding: 0 0;
			}
		}
	}
	&.accordion-style1{

	}
	&.white-version {
		.line {
			width: 100%;
			height: 1px;
			background: rgba(255, 255, 255, 0.1);
		}
		.accordion-item {
			border: unset;
			.accordion-header {
				.accordion-button {
					color: $white;
				}
				.accordion-button {
					&::after {
						background: $white;
					}
					&::before {
						background: $white;
					}
				}
				.accordion-button:not(.collapsed) {
					color: $white;
				}
			}
			.accordion-body {
				padding: 0 0;
				p{
					color: rgb(255, 255, 255, 0.7);
				}
			}
		}
	}
}
//Faq Section