.footer-section {
	position: relative;
	&.style1{
		.footer-content{
			max-width: 350px;
		}
	}
}

.footer-widgets-wrapper {
	.single-footer-widget {
		.widget-head {
			margin-bottom: 26px;
		}
		.list-area {
			li {
				a {
					color: $pra2;
					font-size: 16px;
					font-family: $body-font;
					display: flex;
					align-items: center;
					position: relative;
					transition: all 0.4s;
					text-wrap: nowrap;
					i {
						font-size: 14px;
						transition: all 0.4s;
					}
					&:hover {
						color: $p1-clr;
						i {
							opacity: 1;
						}
					}
				}
				&:hover{
					a{
						color: $p1-clr !important;
					}
				}
			}
		}
		.list-linkes{
			li{
				a{
					color: $pra !important;
					&:hover{
						color: $p1-clr !important;
						i{
							color: $p1-clr !important;
							transform: rotate(90deg);
						}
					}
				}
			}
		}
		.footer-info {
			li {
				display: flex;
				.icon {
					width: 40px;
					height: 40px;
					border-radius: 50%;
					border: 1px solid rgba(255, 255, 255, 0.1);
					i {
						color: $white;
						font-size: 16px;
					}
				}
			}
		}
	}
}
.social-wrapper {
	a {
		width: 40px;
		height: 40px;
		min-width: 40px;
		i {
			transition: all 0.4s;
		}
		&:hover {
			background: $p1-clr !important;
			i{
				color: $white;
			}
			svg{
				path{
					stroke: $white;
				}
			}
		}
	}
}


//Newsletter
.newsletter-wrap {
	form {
		display: flex;
		align-items: center;
		justify-content: space-between;
		border: 1px solid $white;
		border-radius: 100px;
		padding: 8px;
		width: 550px;
		input {
			width: 100%;
			height: 55px;
			border: unset;
			background: transparent;
			color: $white;
			padding-left: 10px;
		}
		::placeholder {
			color: $white;
		}
		.subscribe {
			border-radius: 100px;
			background: $p3-clr;
			text-wrap: nowrap;
			font-size: 18px;
			font-weight: 600;
			padding: 16px 20px;
			color: $black;
		}
	}
}
//Newsletter

//Common Form Style One
.form-cmn-style {
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 6px;
	input {
		width: 100%;
		padding: 9px 18px;
		background: transparent;
		border: unset;
	}
	.common-btn{
		padding: 10px 30px !important;
	}
	@include breakpoint(max-xl) {
		padding: 4px;
		input {
			padding: 10px 14px;
		}
	}
	&.style1{
		input{
			font-size: 14px;
			color: $pra;
		}
		::placeholder{
			color: $pra;
		}
	}
}
//Common Form Style One
