//Banner Style
.banner-section {
	overflow: hidden;
	position: relative;
	z-index: 1;
	.hero-content-version1 {
		.trusted-partner-wrap {
			.partner-inner {
				display: flex;
				.partner-icon {
					width: 48px;
					height: 48px;
					border: 1px solid $white;
					border-radius: 50%;
					img {
						border-radius: 50%;
						width: 100%;
						height: 100%;
					}
					&:not(:first-child) {
						margin-left: -12px;
					}
				}
			}
		}
		h1 {
			font-size: 102px;
			letter-spacing: -5px;
			font-weight: 500;
			line-height: 104px;
			color: $black;
			.stext {
				font-weight: 300 !important;
				font-size: 102px;
				letter-spacing: -5px;
				line-height: 104px;
			}
		}
	}
	.hero1-thumb {
		.arrows {
			width: 60px;
			height: 60px;
			min-width: 60px;
			position: absolute;
			right: 0;
			top: 0;
			transition: all 0.4s;
			&:hover {
				background: $p1-clr;
				svg {
					path {
						stroke: $white;
						fill: $white;
					}
				}
			}
		}
	}
	.banner-listing {
		position: relative;
		background: $p2-clr;
		border-radius: 20px;
		padding: 40px 55px;
		height: 100%;
	}
	.hero-thumb2 {
		position: absolute;
		bottom: 0;
		right: 30px;
	}
	.home1-ele1 {
		position: absolute;
		top: 0;
		left: 0;
		z-index: -1;
	}
	.home1-ele2 {
		position: absolute;
		bottom: 0;
		right: 0;
		z-index: -1;
	}

	&.hero-style2 {
		.hero-content-version2 {
			.stext,
			h1 {
				font-size: 80px;
				letter-spacing: -5px;
				line-height: 84px;
				font-weight: 500;
			}
			.subtitle {
				letter-spacing: 3.36px;
			}
			p {
				font-size: 20px;
				line-height: 26px;
			}
			.hero-adjust-partner {
				display: flex;
				align-items: center;
				gap: 40px;
			}
		}
		.hero-thumb-area2 {
			display: flex;
			align-items: center;
			.hero-thumb-inner {
				.hero-connecting-box {
					padding: 40px 30px;
					.connecting-icon {
						margin-bottom: -60px;
						position: relative;
						z-index: 1;
					}
				}
			}
			.thumb2 {
				min-width: 270px;
			}
		}
		@include breakpoint(max-xxl) {
			.hero-content-version2 {
				.hero-adjust-partner {
					display: flex;
					align-items: center;
					gap: 30px;
				}
				.stext,
				h1 {
					font-size: 66px;
					letter-spacing: -5px;
					line-height: 74px;
					font-weight: 500;
				}
				p {
					font-size: 18px;
					line-height: 26px;
				}
			}
			.hero-thumb-area2 {
				display: flex;
				align-items: center;
				.hero-thumb-inner {
					.hero-connecting-box {
						padding: 24px 18px;
						.connecting-icon {
							margin-bottom: -60px;
						}
					}
				}
				.thumb2 {
					min-width: 270px;
				}
			}
		}
		@include breakpoint(max-xl) {
			overflow: visible !important;
			.hero-content-version2 {
				position: sticky;
				top: 120px;
				.hero-adjust-partner {
					display: flex;
					align-items: center;
					gap: 9px 16px;
					flex-wrap: wrap;
				}
				.stext,
				h1 {
					font-size: 66px;
					letter-spacing: -5px;
					line-height: 74px;
					font-weight: 500;
				}
				p {
					font-size: 18px;
					line-height: 26px;
				}
			}
			.hero-thumb-area2 {
				display: flex;
				align-items: center;
				flex-wrap: wrap;
				.hero-thumb-inner {
					.hero-connecting-box {
						padding: 24px 18px;
						.connecting-icon {
							margin-bottom: -60px;
						}
					}
				}
				.thumb2 {
					min-width: 100%;
				}
			}
		}
		@include breakpoint(max-lg) {
			overflow: visible !important;
			.hero-content-version2 {
				position: sticky;
				top: 120px;
				.hero-adjust-partner {
					display: flex;
					align-items: center;
					gap: 9px 16px;
					flex-wrap: wrap;
				}
				.stext,
				h1 {
					font-size: 44px;
					letter-spacing: -2px;
					line-height: 56px;
					font-weight: 500;
				}
				p {
					font-size: 18px;
					line-height: 26px;
				}
			}
			.hero-thumb-area2 {
				display: flex;
				align-items: center;
				flex-wrap: wrap;
				.hero-thumb-inner {
					.hero-connecting-box {
						padding: 24px 18px;
						.connecting-icon {
							margin-bottom: -60px;
						}
					}
				}
				.thumb2 {
					min-width: 100%;
				}
			}
		}
		@include breakpoint(max-md) {
			overflow: visible !important;
			.hero-content-version2 {
				position: sticky;
				top: 120px;
				.hero-adjust-partner {
					display: flex;
					align-items: center;
					gap: 9px 16px;
					flex-wrap: wrap;
				}
				.stext,
				h1 {
					font-size: 44px;
					letter-spacing: -2px;
					line-height: 56px;
					font-weight: 500;
				}
				p {
					font-size: 18px;
					line-height: 26px;
				}
			}
			.hero-thumb-area2 {
				display: flex;
				align-items: flex-start;
				flex-wrap: nowrap;
				.hero-thumb-inner {
					.hero-connecting-box {
						padding: 24px 18px;
						.connecting-icon {
							margin-bottom: -60px;
						}
					}
				}
				.thumb2 {
					min-width: 50%;
				}
			}
		}
		@include breakpoint(max-xs) {
			overflow: visible !important;
			.hero-content-version2 {
				position: sticky;
				top: 120px;
				.hero-adjust-partner {
					display: flex;
					align-items: center;
					gap: 12px 16px;
					flex-wrap: wrap;
				}
				.stext,
				h1 {
					font-size: 36px;
					letter-spacing: -2px;
					line-height: 46px;
					font-weight: 500;
					margin-bottom: 12px;
				}
				p {
					font-size: 18px;
					line-height: 26px;
				}
			}
			.hero-thumb-area2 {
				display: flex;
				align-items: flex-start;
				flex-wrap: wrap;
				.hero-thumb-inner {
					.hero-connecting-box {
						padding: 24px 18px;
						.connecting-icon {
							margin-bottom: -60px;
						}
					}
				}
				.thumb2 {
					min-width: initial;
					width: 100%;
				}
			}
		}
	}

	@include breakpoint(max-xl) {
		.hero-content-version1 {
			h1 {
				font-size: 58px;
				letter-spacing: -3px;
				font-weight: 500;
				line-height: 60px;
				.stext {
					font-size: 58px;
					letter-spacing: -3px;
					line-height: 60px;
				}
			}
		}
		.hero-thumb2 {
			right: 0px;
		}
		.banner-listing {
			padding: 24px 30px 24px;
		}
	}
	@include breakpoint(max-lg) {
		.hero-content-version1 {
			h1 {
				font-size: 58px;
				letter-spacing: -3px;
				font-weight: 500;
				line-height: 60px;
				.stext {
					font-size: 58px;
					letter-spacing: -3px;
					line-height: 60px;
				}
			}
		}
		.hero-thumb2 {
			right: 0px;
			max-width: 250px;
		}
		.banner-listing {
			padding: 24px 30px 24px;
		}
	}
	@include breakpoint(max-sm) {
		.hero-content-version1 {
			h1 {
				font-size: 44px;
				letter-spacing: -3px;
				font-weight: 500;
				line-height: 48px;
				.stext {
					font-size: 44px;
					letter-spacing: -3px;
					line-height: 48px;
				}
			}
		}
		.hero-thumb2 {
			right: 0px;
			max-width: 250px;
		}
		.banner-listing {
			padding: 24px 30px 24px;
		}
	}
	@include breakpoint(max-xs) {
		.hero-content-version1 {
			h1 {
				font-size: 44px;
				letter-spacing: -3px;
				font-weight: 500;
				line-height: 48px;
				.stext {
					font-size: 44px;
					letter-spacing: -3px;
					line-height: 48px;
				}
			}
		}
		.hero-thumb2 {
			display: none;
		}
		.banner-listing {
			padding: 24px 30px 24px;
		}
	}
}
.trusted-partner-wrap {
	.partner-inner {
		display: flex;
		.partner-icon {
			width: 48px;
			height: 48px;
			border: 1px solid $white;
			border-radius: 50%;
			img {
				border-radius: 50%;
				width: 100%;
				height: 100%;
			}
			&:not(:first-child) {
				margin-left: -12px;
			}
		}
	}
}
@keyframes cirs360 {
	100% {
		transform: translate(-50%, -50%) rotate(360deg);
	}
}
@keyframes updwon {
	50% {
		transform: translateY(-10px);
	}
}
@keyframes cir190 {
	50% {
		transform: rotate(60deg);
	}
}
//Banner Style
