//Pricing
.pricing-section {
	&.style3 {
		.pricing-items {
			overflow: hidden;
			h3 {
				padding: 26px 0;
				text-align: center;
				transition: all 0.4s;
			}
			.boxes {
				padding: 30px 40px 40px;
			}
			&.active,
			&:hover {
				background: $white;
				h3 {
					background: $p2-clr !important;
					color: $white !important;
				}
				.common-btn {
					background: $p2-clr !important;
				}
			}
			@include breakpoint(max-xl){
				.boxes{
					padding: 24px 20px 30px;
				}
			}
		}
	}
}
.pricing-items {
	padding: 30px 30px;
	h2 {
		font-size: 50px;
		color: $black;
		span {
			font-size: 16px;
			color: $black2;
		}
	}
	&.premium-items {
		background: linear-gradient(
			180deg,
			#ffdc26 0%,
			rgba(255, 220, 38, 0) 100%
		);
		.common-btn {
			background: $p5-clr;
		}
	}
	&.style2 {
		.common-btn {
			border-color: $cmnbg !important;
		}
		&.active,
		&:hover {
			background: linear-gradient(
				180deg,
				#fb421f 0%,
				rgba(255, 220, 38, 0) 100%
			);
			h2 {
				border-bottom: 1px solid rgba(34, 34, 32, 0.288) !important;
				span {
					color: $black;
				}
			}
			.price-list {
				li {
					color: $black;
				}
			}
			.common-btn {
				background: $p1-clr !important;
				color: $white !important;
				i {
					color: $white !important;
				}
			}
		}
	}
	@include breakpoint(max-xxl) {
		padding: 24px 20px;
	}
}
.pricing-tabbing {
	border: 1px solid $border-color;
	border-radius: 100px;
	overflow: hidden;
	.nav-item {
		.nav-link {
			padding: 14px 28px;
			font-size: 17px;
			background: transparent;
			border: unset;
			transition: all 0.4s;
			color: $black;
			&.active {
				background: $p2-clr;
				color: $white;
				border-radius: 0;
			}
			@include breakpoint(max-xxl) {
				padding: 10px 28px;
			}
		}
	}
	&.style3 {
		.nav-item {
			.nav-link {
				&.active {
					background: $p3-clr;
					color: $white;
					border-radius: 0;
				}
			}
		}
	}
	@include breakpoint(max-sm) {
		margin: 0 auto;
		.nav-link {
			margin: 0 auto;
		}
	}
}

@keyframes cir360 {
	0% {
		transform: rotate(360deg);
	}
}
