//Process Section
.process-wrap {
	display: grid;
	gap: 26px;
	.line {
		background: #e3e3e3;
		height: 1px;
		width: 100%;
	}
	.process-item {
		.precess-title {
			width: 224px;
		}
		.process-pra {
			max-width: 600px;
			display: flex;
			align-items: center;
			gap: 50px;
			.arrow {
				width: 80px;
				height: 80px;
				min-width: 80px;
				transform: scale(0);
			}
		}
		&:hover {
			h3 {
				a {
					color: $p1-clr;
				}
			}
			.process-pra {
				.arrow {
					transform: scale(1);
				}
			}
		}
	}
	@include breakpoint(max-xl) {
		display: grid;
		gap: 20px;
		.process-item {
			.precess-title {
				width: 120px;
			}
			.process-pra {
				display: flex;
				gap: 24px;
				.arrow {
					width: 55px;
					height: 55px;
					min-width: 55px;
					svg{
						width: 18px;
						height: 30px;
					}
				}
			}
		}
	}
	@include breakpoint(max-lg) {
		display: grid;
		gap: 20px;
		.process-item {
			.precess-title {
				width: 120px;
			}
			.process-pra {
				display: flex;
				gap: 24px;
				max-width: 400px;
				.arrow {
					width: 55px;
					height: 55px;
					min-width: 55px;
					svg{
						width: 18px;
						height: 30px;
					}
				}
			}
		}
	}
	@include breakpoint(max-md) {
		display: grid;
		gap: 20px;
		.process-item {
			.precess-title {
				width: initial;
			}
			.process-pra {
				.arrow {
					transform: scale(1);
				}
			}
		}
	}
}
//Process Section
