.team-items {
	background: $white;
	border-radius: 20px;
	padding: 30px;
	border: 1px solid #e3e3e3;
	&.style2 {
		border-radius: 999px;
		overflow: hidden;
		.thumb {
			// margin-bottom: -30px;
			height: 361px;
			img {
				height: 100%;
				object-fit: contain;
			}
		}
	}
	@include breakpoint(max-xl) {
		padding: 20px;
	}
}
.plus-icon {
	position: relative;
	width: 60px;
	.social-wrapper {
		a {
			svg {
				path {
					stroke: $white !important;
				}
			}
			i {
				color: $white;
			}
		}
	}
	.icons {
		width: 50px;
		height: 50px;
		border-radius: 50%;
		i {
			font-size: 18px;
		}
	}
	.social-wrapper {
		position: absolute;
		bottom: 170%;
		left: 50%;
		transform: translateX(-50%) rotateX(90deg);
		transition: all 0.4s;
	}
	&:hover {
		cursor: pointer;
		.social-wrapper {
			transform: translateX(-50%);
		}
	}
}
.tv-wrapper {
	display: flex;
	align-items: center;
	justify-content: space-between;
	gap: 20px;
	.tv-items {
		max-width: 200px;
		img {
			width: 100%;
		}
	}
	@include breakpoint(max-md) {
		gap: 16px;
		flex-wrap: wrap;
		justify-content: center;
		.tv-items {
			max-width: 120px;
			img {
				width: 100%;
			}
		}
	}
}
.tv-laptop {
	max-width: 238px;
	img {
		width: 100%;
		opacity: 4%;
	}
}
.it-items {
	.arrow {
		width: 70px;
		height: 70px;
		min-width: 70px;
		position: absolute;
		transition: all 0.4s;
		transform: scale(0);
		&:hover {
			background: $p1-clr;
		}
		@include breakpoint(max-xl) {
			width: 55px;
			height: 55px;
			min-width: 55px;
			svg {
				width: 18px;
				height: 18px;
			}
		}
	}
	&::before {
		position: absolute;
		content: "";
		top: 0;
		left: 0;
		width: 0%;
		height: 100%;
		background: rgba(8, 8, 8, 0.336);
		border-radius: 20px;
		transition: all 0.4s;
	}
	&:hover {
		&::before {
			width: 100%;
		}
		.arrow {
			transform: scale(1);
		}
	}
}

//Team 2
.team-wrapper2 {
	.space-top {
		@include breakpoint(max-lg) {
			padding-top: 0;
		}
	}
}

//Team 04
.team-items4 {
	border-radius: 20px 20px 20px 20px !important;
	transition: all 0.4s;
	.thumb {
		padding: 4px 10px 0;
		background: $white;
		transition: all 0.4s;
	}
	.cont {
		background: $white;
		transition: all 0.4s;
	}
	&:hover {
		.thumb {
			background: $p3-clr;
		}
		.cont {
			background: $p3-clr;
		}
	}
}
