//Testimonial Oner
.array-button-black {
	button {
		border: 1px solid $black !important;
		transition: all 0.4s;
		&:hover {
			background: $p2-clr !important;
			border-color: $p2-clr !important;
			img {
				filter: brightness(25);
			}
		}
	}
}

//Testimonial 01
.testimonail-wrapper-style1 {
	background: $black;
	border-radius: 20px;
	padding: 80px 80px;
	@include breakpoint(max-md){
		padding: 60px 16px 40px;
	}
}
.testimonial-items1 {
	display: flex;
	align-items: center;
	border-top: 1px solid rgb(255, 255, 255, 0.2);
	.thumb {
		margin-right: 60px;
		padding-top: 30px;
	}
	.content {
		padding-left: 30px;
		padding-top: 30px;
		border-left: 1px solid rgb(255, 255, 255, 0.2);
		p {
			font-size: 28px;
			font-weight: 400;
			color: rgb(255, 255, 255, 0.8);
			line-height: 38px;
		}
	}
	@include breakpoint(max-xl) {
		.thumb {
			margin-right: 24px;
			padding-top: 24px;
		}
		.content {
			padding-left: 24px;
			padding-top: 24px;
			p {
				font-size: 20px;
				line-height: 30px;
			}
		}
	}
	@include breakpoint(max-lg) {
		.thumb {
			margin-right: 20px;
			padding-top: 20px;
			width: 210px;
			width: 210px;
			min-width: 210px;
			img{
				width: 100%;
				height: 100%;
			}
		}
		.content {
			padding-left: 20px;
			padding-top: 20px;
			p {
				font-size: 18px;
				line-height: 30px;
			}
		}
	}
	@include breakpoint(max-md) {
		display: grid;
		flex-wrap: wrap;
		justify-content: center;
		.thumb {
			margin-right: 20px;
			padding-top: 20px;
			width: 210px;
			width: 210px;
			min-width: initial;
			margin: 0 auto;
			img{
				width: 100%;
				height: 100%;
			}
		}
		.content {
			padding-left: 20px;
			padding-top: 20px;
			border-left: unset;
			p {
				font-size: 18px;
				line-height: 30px;
			}
		}
	}
}
//Testimonial
